<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found</title>
        <!-- BOOTSRAP-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <link rel = "stylesheet" href = "/stylesheets/main.css">
    </head>
    <body>
        <h1 class = "not-found" style = "text-align:center; padding-top: 100px;">Not found, out of rage.</h1>
        
    </body>
</html>